<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">Economy Settings</h4>
                    <div class="card-subtitle text-muted mb-2">temp</div>
                    <div class="card-subtitle text-muted mb-2">temp</div>
                    <div class="card-subtitle text-muted mb-2">temp</div>
                    <div class="card-subtitle text-muted mb-2">temp</div>
                    <div class="card-subtitle text-muted mb-2">temp</div>
                    <div class="card-subtitle text-muted mb-2">temp</div>
                    <div class="card-subtitle text-muted mb-2">temp</div>
                    <div class="card-subtitle text-muted mb-2">temp</div>
                    <div class="row">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <a href="./" class="btn btn-primary">Edit Settings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>