<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">Economy Settings</h4>
                    <form method="post"action="../editSettings">
                        <% for(const setting in reqObj.ecoSettings) { %>
                        <div class="form-group">
                            <label for="<%= setting %>" class="sr-only"><%= setting %></label>
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                                value="<%= setting %>">
                        </div>
                        <div class="form-group sm-3">
                            <label for="exampleFormControlInput1" class="sr-only"></label>
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="<%= reqObj.ecoSettings[setting] %>">
                        </div>
                        <% } %>
                        <button type="submit" class="btn btn-primary" value="Add">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>