<!DOCTYPE html>
<html lang="en">

<%- include("./partials/_header") %>

<body class="bg-dark">
    <%- include("./partials/_mainNavBar", { reqObj: reqObj }) %>
    <%- include("./partials/commands/_fourColumnContainer", { reqObj: reqObj }) %>
</body>

<%- include("./partials/_footer") %>

</html>