<!DOCTYPE html>
<html lang="en">

<%- include("./partials/_header") %>

<body class="bg-dark">
    <%- include("./partials/_mainNavBar", { reqObj: reqObj }) %>
    <div class="container bg-dark">
        <div class="row">
            <div class="col">
                <div class="card mt-4 bg-secondary">
                    <h1 class="card-header bg-dark bg-gradient text-white font-weight-bold">Hoover (Advanced Trash
                        Cleanup)</h1>
                    <div class="card-body" style="background: #1f1f1f">
                        <h5 class="card-title text-white">Tired of manual cleanup? The hoover is here to help!</h5>
                        <h6 class="card-subtitle text-white mb-2">The hoover will automatically delete grids on your
                            server that match certain criteria.
                            All criteria is completely configurable, and you will find a variety of settings that will
                            help your server performance! Better than SE trash cleanup, guaranteed!
                        </h6>
                        <div class="row" style="background: #1f1f1f">
                            <div class="container mt-4"></div>
                        </div>
                        <div class="container" style="background: #1f1f1f">
                            <h4 class="card-title text-white">Available Settings:</h4>
                            <div class="row" style="background: #1f1f1f">
                                <div class="col" style="background: #1f1f1f">
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Enabled</h5>
                                            <div class="card-subtitle text-white mb-2">Is the hoover turned on?
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Sweep Delay</h5>
                                            <div class="card-subtitle text-white mb-2">How much time should hoover
                                                wait
                                                before deleting a grid?</div>
                                        </div>
                                    </div>
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Block Threshold</h5>
                                            <div class="card-subtitle text-white mb-2">Set this to delete anything
                                                less than
                                                X blocks.</div>
                                        </div>
                                    </div>
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">World Border</h5>
                                            <div class="card-subtitle text-white mb-2">Delete anything further than
                                                Xkm from
                                                0x, 0y, 0z.</div>
                                        </div>
                                    </div>
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Large Grid Removal</h5>
                                            <div class="card-subtitle text-white mb-2">Delete ALL large grids?
                                                Useful for small grid only servers.</div>
                                        </div>
                                    </div>
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Small Grid Removal</h5>
                                            <div class="card-subtitle text-white mb-2">Delete ALL small grids?
                                                Useful for large grid only servers.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" style="background: #1f1f1f">
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Scan Interval</h5>
                                            <div class="card-subtitle text-white mb-2">How often should grids be
                                                checked?
                                            </div>
                                        </div>
                                        <div class="card mt-0 bg-secondary">
                                            <div class="card-body bg-dark">
                                                <h5 class="card-title text-white">Unpowered Grid Removal</h5>
                                                <div class="card-subtitle text-white mb-2">Delete unpowered grids?
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mt-0 bg-secondary">
                                            <div class="card-body bg-dark">
                                                <h5 class="card-title text-white">Max Ship Speed</h5>
                                                <div class="card-subtitle text-white mb-2">Set this to delete
                                                    anything
                                                    exploiting speed limits.</div>
                                            </div>
                                        </div>
                                        <div class="card mt-0 bg-secondary">
                                            <div class="card-body bg-dark">
                                                <h5 class="card-title text-white">Unverified Grid Removal</h5>
                                                <div class="card-subtitle text-white mb-2">Delete grids from players
                                                    that have
                                                    not verified with Cosmofficial. This helps deter alt accounts by
                                                    allowing
                                                    only one username per discord account. This also deletes grids
                                                    of
                                                    players
                                                    that leave your discord server.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-4 bg-secondary">
                    <h1 class="card-header bg-dark bg-gradient text-white font-weight-bold">Hotzone (King-of-the-Hill)
                    </h1>
                    <div class="card-body" style="background: #1f1f1f">
                        <h5 class="card-title text-white">Hotzone is a KoTH system that uses actual in-game player
                            locations and rewards them with discord currency.</h5>
                        <h6 class="card-subtitle text-white mb-2">Hotzone randomly generates a location at set
                            intervals, and allows players to compete for rewards. It reward players for being in the
                            zone, and
                            it also rewards a final bonus to the faction with the highest survival time.
                        </h6>
                        <div class="row" style="background: #1f1f1f">
                            <div class="container mt-4"></div>
                        </div>
                        <div class="container" style="background: #1f1f1f">
                            <h4 class="card-title text-white">Available Settings:</h4>
                            <div class="row" style="background: #1f1f1f">
                                <div class="col" style="background: #1f1f1f">
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Enabled</h5>
                                            <div class="card-subtitle text-white mb-2">Is Hotzone (KoTH) turned on?
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Reward</h5>
                                            <div class="card-subtitle text-white mb-2">How much currency to reward?
                                                (per-second in zone)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">End Bonus</h5>
                                            <div class="card-subtitle text-white mb-2">How much currency to grant the
                                                highest survival time faction at the end of the zone?
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Range</h5>
                                            <div class="card-subtitle text-white mb-2">How far 0x 0y 0z can the Hotzone spawn? (in meters)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" style="background: #1f1f1f">
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Interval</h5>
                                            <div class="card-subtitle text-white mb-2">How much time should pass before
                                                a new zone spawns?
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Timer</h5>
                                            <div class="card-subtitle text-white mb-2">How long does each zone last?
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Radius</h5>
                                            <div class="card-subtitle text-white mb-2">How far from the zone can players be to get rewarded? (in meters)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mt-4 bg-secondary">
                    <h1 class="card-header bg-dark bg-gradient text-white font-weight-bold">Economy</h1>
                    <div class="card-body" style="background: #1f1f1f">
                        <h5 class="card-title text-white">An integrated discord economy system to help manage your
                            server.</h5>
                        <h6 class="card-subtitle text-white mb-2">Fully configurable, the economy system comes in handy
                            for rewarding players with digital currency to use in purchases. Admins may find themselves
                            wanting to reward players for events, games, etc. This provides a way to do so!
                        </h6>
                        <div class="row" style="background: #1f1f1f">
                            <div class="container mt-4"></div>
                        </div>
                        <div class="container" style="background: #1f1f1f">
                            <h4 class="card-title text-white">Available Settings:</h4>
                            <div class="row" style="background: #1f1f1f">
                                <div class="col" style="background: #1f1f1f">
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Currency Name</h5>
                                            <div class="card-subtitle text-white mb-2">What is your currency called?
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Online Player Reward</h5>
                                            <div class="card-subtitle text-white mb-2">Amount to reward (per-second)
                                                for being logged-in + verified with Cosmofficial.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" style="background: #1f1f1f">
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Starting Balance</h5>
                                            <div class="card-subtitle text-white mb-2">How much should players start
                                                with?
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Timely Reward</h5>
                                            <div class="card-subtitle text-white mb-2">Maximum amount to reward for
                                                the hourly c!time command.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-4 bg-secondary">
                    <h1 class="card-header bg-dark bg-gradient text-white font-weight-bold">Lottery</h1>
                    <div class="card-body" style="background: #1f1f1f">
                        <h5 class="card-title text-white">A fairly simple lottery system to go with the economy.</h5>
                        <h6 class="card-subtitle text-white mb-2">Mostly configurable, the lottery system is a nice
                            addition to the economy if enabled. The lottery picks 3 random numbers between 0-9 per
                            cycle, and each ticket picks 3 random numbers as well. Each unique ticket has a 0.01% win
                            chance. The more tickets you own, the more likely you'll get a duplicate ticket and waste
                            your money. This prevents getting 100% win chance.
                        </h6>
                        <div class="row" style="background: #1f1f1f">
                            <div class="container mt-4"></div>
                        </div>
                        <div class="container" style="background: #1f1f1f">
                            <h4 class="card-title text-white">Available Settings:</h4>
                            <div class="row" style="background: #1f1f1f">
                                <div class="col" style="background: #1f1f1f">
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Ticket Price</h5>
                                            <div class="card-subtitle text-white mb-2">How much is each lottery ticket?
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Draw Time</h5>
                                            <div class="card-subtitle text-white mb-2">How often should the lottery draw
                                                tickets?
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" style="background: #1f1f1f">
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Channel Update Interval</h5>
                                            <div class="card-subtitle text-white mb-2">How often should the discord
                                                channel update information?
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mt-0 bg-secondary">
                                        <div class="card-body bg-dark">
                                            <h5 class="card-title text-white">Daily Interest</h5>
                                            <div class="card-subtitle text-white mb-2">Interest percentage to add to the
                                                lottery pot per-day.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="container bg-dark">
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
        </div>
</body>
<%- include("./partials/_footer") %>

</html>