<!DOCTYPE html>
<html lang="en">

<%- include("./partials/_header") %>


<body>
    <div class="container">
        <div class="row">
            <div class="col offset-md-1">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a href="https://cosmofficial.herokuapp.com/" class="btn btn-success">Home Page</a>
                        <a href="https://discord.gg/BfFc8cfp3n" class="btn btn-info">Cosmofficial Discord</a>
                        <a href="https://discord.com/api/oauth2/authorize?client_id=845784381025157131&permissions=8&scope=bot"
                            class="btn btn-primary">Bot Invite Link</a>
                        <a href="https://www.patreon.com/Cosmofficial" class="btn btn-secondary">Patreon</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("./partials/users/singleUserPage/_data", { user: user }) %>
</body>

<%- include("./partials/_footer") %>

</html>