<div class="card mt-2">
    <h1 class="card-header bg-dark bg-gradient text-white font-weight-bold"><%= command.name %></h1>
    <div class="card-body" style="background: #1f1f1f">
        <h4 class="card-title text-white"><%= `${command.description}` %></h4>
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="card-subtitle text-white mb-2"><%= `Required Permissions: ${command.permissions}` %></div>
            </div>
        </div>
    </div>
</div>