<div class="container">
    <div class="row">
        <% for(let i = 0; i < reqObj.grids.length; i+=4) { %>
        <div class="col-sm-3">
            <%- include("./_singleGrid", { grid: reqObj.grids[i] }) %>
        </div>
        <% i += 1; if (reqObj.grids[i] === undefined) break %>
        <div class="col-sm-3">
            <%- include("./_singleGrid", { grid: reqObj.grids[i] }) %>
        </div>
        <% i += 1; if (reqObj.grids[i] === undefined) break %>
        <div class="col-sm-3">
            <%- include("./_singleGrid", { grid: reqObj.grids[i] }) %>
        </div>
        <% i += 1; if (reqObj.grids[i] === undefined) break %>
        <div class="col-sm-3">
            <%- include("./_singleGrid", { grid: reqObj.grids[i] }) %>
        </div>
        <div class="w-100"></div>
        <% i -= 3; } %>
    </div>
</div>