<div class="container">
    <div class="row">
        <% for(let i = 0; i < reqObj.users.length; i+=4) { %>
        <div class="col-sm-3">
            <%- include("./_singleUser", { user: reqObj.users[i] }) %>
        </div>
        <% i += 1; if (reqObj.users[i] === undefined) break %>
        <div class="col-sm-3">
            <%- include("./_singleUser", { user: reqObj.users[i] }) %>
        </div>
        <% i += 1; if (reqObj.users[i] === undefined) break %>
        <div class="col-sm-3">
            <%- include("./_singleUser", { user: reqObj.users[i] }) %>
        </div>
        <% i += 1; if (reqObj.users[i] === undefined) break %>
        <div class="col-sm-3">
            <%- include("./_singleUser", { user: reqObj.users[i] }) %>
        </div>
        <div class="w-100"></div>
        <% i -= 3; } %>
    </div>
</div>